@charset "utf-8";

/* 초기화 */
* {
	margin: 0 auto;
	padding: 0;
	font-family: '맑은 고딕';
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	/*상속*/
}
button {
	cursor: pointer;
}
body,html {
	min-width: 1000px;
}
img{max-width: 100%;}


/*header*/
	header {
		height: 150px;
	}
	.wrap {
		width: 1000px;
		height: 150px;
		margin-top: 30px;
	}
	.wrap .logo {
		float: left;
		width: 300px;
		height: 110px;
	}
	.wrap nav {
		float: right;
		width: 600px;
		margin-top: 30px;
	}
	.menu>li {
		float: left;
		text-align: center;
		width: 150px;
		position: relative;
	}
	.menu>li>a {
		width: 100%; height: 40px;
		font-size: 18px;
		color: #666;
		line-height: 40px;
	}
	.menu>li:hover>a{
		box-sizing: border-box;
		font-weight: bold;
		border: 1px solid #666;
	}
	.submenu {
		display: none;
		position: absolute;
		width: 100%;
		z-index: 1;
		background: #eee;
	}
	.submenu li{
		line-height: 30px;
	}
	.submenu li:hover {
		background: #666;
		color: #fff;
	}
/*imgslide*/
	.imgslide {
		width: 1000px;
		height: 400px;
		position: relative;
		overflow: hidden;
	}
	.imgs {
		width: 5000px;
		position: absolute;
	}
	.imgs img {
		float: left;
	}
	.welcome {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 300px;
		height: 100px;
		background: rgba(0, 0, 0, .6);
		color: #fff;
		text-align: center;
		line-height: 100px;
		border-radius: 20px;
		margin: -50px 0 0 -150px;
	}
	#imgsbar {
		width: 100px;
		position: relative;
		margin: 20px auto;
		text-align: center;
	}
	#imgsbar a {
		float: left;
		width: 15px;
		height: 20px;
		background: url('../img/slide/dot.png') no-repeat;
		margin-left: 5px;
	}
	#imgsbar a.active {
		background-position: 0 -2px;
		background-image: url('../img/slide/doton.png');
	}
	

/*contents*/
	.contents {
		width: 1000px;
		height: 500px;
	}
	/*notice*/
		.notice {
			margin-top: 10px;
			width: 480px;
			float: left;
		}
		.notice p {
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			color: #666;
			line-height: 40px;
		}
		.notice table {
			width: 100%;
			border-collapse: collapse;
		}
		.notice table tr {
			height: 30px;
		}
		.notice table tr:nth-child(even){
			background: #ccc;
		}
		.notice table td {
			font-size: 15px;
			letter-spacing: 1.2px;
		}
		.notice table td:last-child {
			width: 100px;
			text-align: center;
		}
	/*partner*/
		.partner {
			margin-top: 10px;
			width: 480px;
			float: right;
			text-align: center;
		}
		.partner p {
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			color: #666;
			line-height: 40px;
		}
		.partner img {
			width: 375px;
			height: 139px;
			cursor: pointer;
		}
	/*modal*/
		#modal {
			display: none;
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0; left: 0;
			background: rgba(0, 0, 0, .6);
		}
		#modal.active {
			display: block;
		}
		.mobody {
			width: 600px;
			height: 300px;
			background: #fff;
			text-align: center;
			position: relative;
			top: 20%;
		}
		.mobody img {
			width: 500px;
			height: 185px;
			margin-top: 30px;
		}
		.mobtn {
			background: #ccc;
			width: 50px;
			height: 30px;
			border-radius: 5px;
			line-height: 30px;
			margin-top: 30px;
			cursor: pointer;
		}

	/*icons*/
		.icons {
			display: inline-block;
			width: 1000px;
			text-align: center;
			margin-top: 50px;
		}
		.icon {
			display: inline-block;
			margin: 0 20px;
		}
		.icon img {
			display: block;
			width: 180px;
			height: 180px;
		}
		.icon button {
			border: none;
			width: 90px; height: 40px;
			background: #666;
			border-radius: 10px;
			line-height: 40px;
			font-size: 17px;
			padding: 0 10px;
			margin-top: 10px;
			color: #fff;
		}
		.icon button:hover {
			background: #aaa;
		}
/*footer*/
	footer {
		width: 100%;
		background: #666;
	}
	.wrap .bottom {
		float: left;
		width: 50%;
		color: #fff;
	}
	.bottom li {
		margin: 10px;
	}
	footer .wrap p {
		float: right;
		width: 50%;
		color: #fff;
		margin-top: 10px;
		font-size: 14px;
	}
