@charset "utf-8";

/* 초기화 */
* {
	margin: 0 auto;
	padding: 0;
	color: #333;
	font-family: '맑은 고딕';
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
	/*상속*/
}
button {
	cursor: pointer;
}
body,html {
	min-width: 960px;
}
img{max-width: 100%;}

/*header*/
	.all {
		width: 100%;
		/*float: left;*/
	}

/*header, imageslide,contents,footer*/
	.wrap {
		width: 960px;
	}
	.clear {
		clear: both;
		position: inherit;
	}

/* header */
	header{
		height: 130px;
	}
	#header_logo {padding-top: 20px;}
	.logo{
		height: 100px;
		float: left;
		overflow: hidden;
	}
	.logo>a>img {width: 250px;}
	/*menu*/
	nav {
		float: right;
		margin-top: 30px;
		padding: 10px;
	}
	.nav {
		width: 600px;
		height: 20px;
	}
	.nav>li {
		float: left;
		width: 200px;
		padding: 5px 0;
		position: relative;
		text-align: center;
		transition: all .4s;
	}
	.nav>li:hover {
		background: #7b422e;
		color: #fff;
	}
	.submenu {
		display: none;
		background: rgba(255, 255, 255, .8);
		position: absolute;
		width: 100%;
		margin-top: 5px;
		z-index: 1;
	}
	.submenu>li {
		padding: 5px 0;
		color: #000;
		transition: all .4s;
	}
	.submenu>li:hover {
		background: #bb692d;
		color: inherit;
	}
/*imgslide*/
	#imageslide {height: 400px;position: relative;}
	.imgs {
		position: relative;
		height: 400px;
		background: #bb692d;
		overflow: hidden;
	}
	.imgs>img {
		width: 100%;
		position: absolute;
		/*transition: all 2s;*/
	}
	/*welcome*/
	.welcome {
		width: 300px; height: 100px;
		line-height: 50px;
		position: absolute;
		left: 50%; top: 50%;
		margin: -50px 0 0 -150px !important;
		text-align: center;
		background: rgba(255, 255, 255, .8);
		border-radius: 10px;
	}
	.welcome h2 span {color: #bb692d;}
	.welcome h3 span {color: #6a6a6a;}

/*contents*/
	#contents {height: 500px;}
	/*notice*/
		.notice {
			width: 480px;
			margin-top: 20px;
			float: left;
		}
		.notice h2 {
			text-align: center;
			padding-bottom: 10px;
			border-bottom: 1px solid #666;
		}
		.table {
			border-collapse: collapse;
			font-size: .9em; /*아버지 폰트크기의 %*/
			color: #666;
			width: 430px;
		}
		.table tr>th{padding: 5px 0;}
		.table tr>td{padding: 5px;}
		.table tr>td:first-child:hover{font-weight: bold;}
		.table tr:nth-child(even){
			background: rgba(153, 153, 1021, .5);
		}
	/*partner*/
		.partner {
			width: 480px;
			margin-top: 20px;
			float: right;
		}
		.partner h2 {text-align: center;}
		.partner_info {
			margin-top: 10px;
			padding-left: 20%;
		}
		.partner_info img:nth-child(1){
			width: 60%;
			cursor: pointer;
		}
		.partner_info img:nth-child(2){
			width: 40%;
			cursor: pointer;
		}
	/*partner_up*/
		#partner_up{
			position: fixed;
			left: 0; top: 0;
			z-index: 1;
			width: 100%; height: 100%;
			background: rgba(0, 0, 0, .6);
			display: none;
			opacity: 0;
		}
		#partner_up .body {
			padding: 20px;
			position: fixed;
			left: 50%; top: 50%;
			opacity: 0;
			transform: translate(-50%,-50%);
			background: #fff;
		}
		#partner_up.active{display: block; opacity: 1;}
		#partner_up.active .body{opacity: 1;}
		#partner_up .body img {
			display: block;
			margin-bottom: 20px;
		}
		#partner_up .body .button {
			margin-top: 20px;
			text-align: center;
		}
		#partner_up .body .button button {
			padding: 6px 12px;
			border: none;
			border-radius: 6px;
			background: #009688;
			color: #fff;
		}
	/*icon*/
		.icon {margin-top: 20px;}
		.icons {text-align: center;}
		.btn {
			width: 160px;
			margin: 0 20px;
			display: inline-block;
		}
		.btn button {
			padding: 10px;
			background: #bb692d;
			color: #fff;
			border: none;
			border-radius: 10px;
			font-size: 20px;
		}
		.btn button:hover {
			background: #9c6;
		}

/* footer */
	footer {
		height: 150px;
		margin-top: 30px;
		background: #bb692d;
		color: #fff;
		max-width: 100%;
		overflow: hidden;
	}
	footer .wrap {
		padding: 10px 20px;
	}
	footer ul {
		width: 50%;
		float: left;
	}
	footer ul>li {
		float: left;
		margin-left: 20px;
		margin-top: 30px;
	}
	footer p {
		float: right;
		width: 50%;
		font-size: 12px;
		color: #fff;
	}